<ion-header>
  <ion-toolbar>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input id="title" type="text" value="{{note.title}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contenido</ion-label>
    <ion-textarea id="content" type="text" value="{{note.content}}"
      autoGrow></ion-textarea>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="cancelEditing()">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="updateData()">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
